<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ theme:css src="normalize" tag="true"}}
        {{ theme:css src="bootstrap" tag="true"}}
        {{ theme:css tag="true"}}
        {{ theme:js src="vendor/modernizr-2.6.2.min" tag="true"}}
    </head>
    <body>

<!-- <div id="info-wrapper">
<h3>U Wot m8</h3>
</div>
 -->


    {{ layout_content }}

    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        {{ theme:js src="vendor/masonry.pkgd.min" tag="true"}}
        {{ theme:js src="vendor/iscroll" tag="true"}}
        {{ theme:js src="main" tag="true"}}

    </body>
</html>
