<div class="nav-bg">
	<div class="nav"
	    data-start="transform:perspective(90em) rotateX(0deg); opacity:1;"
	    data-135-start="transform:perspective(90em) rotateX(90deg); opacity:0.75;" 
	    data-anchor-target=".nav"
	>
	<div class="nav-main">
		<a href="{{ path src="/" }}"><p>Back to projects</p></a>
	</div>
	</div>
</div>


<div class="project-header-bg">


<!--header content layer-->

	<div class="project-header" style="background-image:url('{{ header_image }}')"
		data-start="background-position: 0 0%;"
		data-100p-start="background-position: 0 100%;" 
		data-anchor-target=".project-header"
	>


	<!--header nav layer-->


	<div class="project-header-nav">
		<div class="project-header-nav-prev {{ header_theme_colour }}">
			{{ if prev }}
				<a href="{{ prev }}">
					<div class="icon-icon-left"
					data--10p-top="margin-left:30%;opacity:1"
	    			data--30p-top="margin-left:10%;opacity:0" 
	    			data-anchor-target=".project-header"
	    			></div>
				</a>
			{{ endif }}
		</div>

		<div class="project-header-nav-next {{ header_theme_colour }}">
			{{ if next }}
				<a href="{{ next }}">
					<div class="icon-icon-right"
					data--10p-top="margin-right:30%;opacity:1"
	    			data--30p-top="margin-right:10%;opacity:0" 
	    			data-anchor-target=".project-header"
	    			></div>
				</a>
			{{ endif }}
		</div>
	</div>




			<div class="project-header-title-container">
				<div class="project-header-title {{ header_theme_colour }}"
					data--10p-top="opacity:1;"
	    			data--30p-top="opacity:0;" 
	    			data-anchor-target=".project-header"
				>
					<h4>{{ title }}</h4>
					<hr style="background-color:{{ header_theme_colour }}"/>
					<p>{{ category }}</p>

					<a href="#content">
						<div class="icon-icon-down"
						data-135-start="transform:translate(0,20px);"
		    			data-60p-start="transform:translate(0,150%);" 
		    			data-anchor-target=".project-header"
		    			></div>
		    		</a>
				</div>
			</div>




	</div>
</div>



<!--content-->

<div class="project-wrapper-bg" id="content">

	<div class="project-wrapper">

		{{ content }}

	</div>
</div>


{{ theme:partial src="project-tiles" }}

