<div class="project-header-bg" style="background-image:url('{{ header_image }}')"
		data-start="background-position: 0 0%;"
		data-100p-start="background-position: 0 100%;" 
		data-anchor-target=".project-header"
>


<!--header content layer-->

	<div class="project-header" style="background-color:{{ header_bg_colour }};">




	<!--header nav layer-->


	<div class="project-header-nav">
		<div class="project-header-nav-prev">
			{{ if prev }}
				<a href="{{ prev }}">
					<div class="icon-icon-left" style="color:{{ header_text_colour }};"
					data--10p-top="margin-left:30%;opacity:1"
	    			data--30p-top="margin-left:10%;opacity:0" 
	    			data-anchor-target=".project-header"
	    			></div>
				</a>
			{{ endif }}
		</div>

		<div class="project-header-nav-next">
			{{ if next }}
				<a href="{{ next }}">
					<div class="icon-icon-right" style="color:{{ header_text_colour }};"
					data--10p-top="margin-right:30%;opacity:1"
	    			data--30p-top="margin-right:10%;opacity:0" 
	    			data-anchor-target=".project-header"
	    			></div>
				</a>
			{{ endif }}
		</div>
	</div>




			<div class="project-header-title-container">
				<div class="project-header-title" style="color:{{ header_text_colour }};"
					data--10p-top="opacity:1;"
	    			data--30p-top="opacity:0;" 
	    			data-anchor-target=".project-header"
				>
					<h1>{{ title }}</h1>
					{{ if subtitle }}
					<hr style="background-color:{{ header_text_colour }}"/>
					<p>{{ subtitle }}</p>
					{{ endif }}



					<div class="project-wrapper-up">
						<a href="{{ path src="/" }}">
							<div class="back-to-projects">Back to index</div>
						</a>
		    		</div>	



					<!-- <div class="project-wrapper-down">
						<div class="icon-icon-down"></div>
		    		</div>	 -->
				</div>
			</div>




	</div>
</div>


<div class="project-header-buffer"></div>


<!--content-->

<div class="project-wrapper-bg">

	<div class="project-wrapper">

		{{ content }}

	</div>
</div>


{{ theme:partial src="project-tiles" }}

