<div class="footer-bg">

	<div class="footer">

		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 block">
					<h6 class="black">Character</h6>
					<h6 class="grey">
						Twenty-six year old who lives in London with 4 good friends. Should probably clean his fishbowl out soon, it's getting pretty disgusting.
					</h6>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 block">
					<h6 class="black">Currently</h6>
					<h6 class="grey">
						<ul>
							<li><span class="bullet"></span>Playing <a href="http://www.forbes.com/sites/michaelthomsen/2014/04/25/is-dark-souls-ii-the-worst-game-ever-made/" target="_blank">Dark Souls II</a></li>
							<li><span class="bullet"></span>Trying to get a US Visa</li>
							<li><span class="bullet"></span>Learning <a href="https://unity3d.com/" target="_blank">Unity</a>/<a href="http://www.maxon.net/products/cinema-4d-prime/who-should-use-it.html" target="_blank">Cinema4D</a></li>
							<li><span class="bullet"></span>Reading <a href="http://en.wikipedia.org/wiki/Guns,_Germs,_and_Steel" target="_blank">Guns, Germs and Steel</a> by Jared Diamond</li>
						</ul>
					</h6>
				</div>


				<div class="col-md-3 col-sm-6 col-xs-12 block">
					<h6 class="black">Credits</h6>
					<h6 class="grey">Site design and build by <a href="http://nieri.cc/" target="_blank">Mr Nieri</a> using the wonderful flat file CMS, <a href="http://statamic.com/" target="_blank">Statamic</a>. Updates soon. &copy;2014
					</h6>
				</div>


				<div class="col-md-3 col-sm-6 col-xs-12 block">


					<div class="row">
						<div class="col-md-12">
							<h6 class="black">Contact</h6>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">

							<h6 class="grey">
								<ul>
									<li><span class="bullet"></span><a href="mailto:info@nieri.cc">Email</a></li>
									<li><span class="bullet"></span><a href="http://nieri.cc/" target="_blank">Portfolio</a></li>
									<li><span class="bullet"></span><a href="http://www.mixcloud.com/christmas-nieri/" target="_blank">Mixcloud</a></li>
								</ul>
							</h6>

						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">

							<h6 class="grey">
								<ul>
									<li><span class="bullet"></span><a href="https://twitter.com/chrisnieri" target="_blank">Twitter</a></li>				
									<li><span class="bullet"></span><a href="https://www.facebook.com/christopher.nieri">Facebook</a></li>
									<li><span class="bullet"></span><a href="http://uk.linkedin.com/pub/christopher-nieri/27/21/910" target="_blank">LinkedIn</a></li>
								</ul>
							</h6>

						</div>


					</div>





				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h6 class="grey"><span class="icon-icon-up"></span><a href="" class="to-top">Back to top</a></h6>
				</div>
			</div>

		</div>

	</div>

</div>