<div class="info-wrapper-buffer">
	<div class="push"></div> 
</div>

<div class="info-wrapper-bg">



	<div class="videocontent"
			data--10p-top="opacity:1;"
			data--95p-top="opacity:0;" 
			data-anchor-target=".info-wrapper"
	>
		<video id="info-video" class="video-js vjs-default-skin"
		  controls preload="auto" width="auto" height="auto"
		  data-setup='{"controls":false,"autoplay":true,"loop":"true","children": {"loadingSpinner": false}}'>
		 <source src="_themes/ristopherch/img/video.mp4" type='video/mp4' />
		</video>
	</div>



	<div class="info-wrapper">
	<div class="info-wrapper-table">
		<div class="info-wrapper-title-container"
			data--35p-top="opacity:1;"
			data--80p-top="opacity:0;" 
			data-anchor-target=".info-wrapper"
		>

			<div class="info-wrapper-title">
			    <h5>
			    	Hi. My name is Christopher, and this is a repository of work that wouldn't/shouldn't belong in my professional <a href="http://nieri.cc" target="_blank">portfolio</a>.
			    </h5>
			</div>

			<div class="info-wrapper-down">
				<div class="icon-icon-down"></div>
			</div>
	    </div>
	</div>
	</div>

	<div class="push"></div> 

</div>