<div class="wrapper">

    <div class="grid-sizer"></div>

		{{ entries:listing folder="work" conditions="url:!{url}" paginate="true" limit="6"}}

{{ if no_results }}
{{ else }}

		    <div class="post {{ modulesize }} {{ modulecolor }} {{ posttype }}">

		        <div class="content" style="background-image:url('{{ thumbnail }}')">

		        {{ if videothumbnail }}	

		        <div class="videocontent">
					<video class="video-js vjs-default-skin"
					  controls preload="auto" width="auto" height="auto"
					  data-setup='{"controls":false,"autoplay":true,"loop":"true"}'
					  poster="{{ thumbnail }}">
					 <source src="assets/video/{{ videothumbnail }}.mp4" type='video/mp4' />
					</video>
				</div>

				{{ else }}
				{{ endif}}


		        	<a href="{{ url }}">
						<div class="post-info-container">

							<div class="post-info">

				                <div class="post-title">
				                	{{ title|truncate:40}}
				                </div>

				                {{ if category }}
									{{ if modulecolor == "dark" }}
			                		<hr style="background-color: rgba(255, 255, 255, 0.85);"/>
									{{ else }}
									<hr style="background-color: rgba(0, 0, 0, 1);"/>
									{{ endif }}
					                
						                <h6>{{ category }}</h6>
						             
						        {{ endif }}

				            </div>

						</div> 

		        	</a>  

		        </div>  



		    	<div class="push"></div>  
		    </div>  

	{{ endif }}
{{ /entries:listing }}


{{ entries:pagination folder="work" limit="6" }}
	{{ if next_page || previous_page }}
		<div class="pagination clearfix">
			{{ if next_page }}
				<div class="older"><a href="{{ next_page }}">Older Posts</a></div>
			{{ endif }}

			{{ if previous_page }}
				<div class="newer"><a href="{{ previous_page }}">Newer Posts</a></div>
			{{ endif }}
		</div>
	{{ endif }}
{{ /entries:pagination }}







</div>
