<div class="slide-panel-area">

<div class="slide-panel">

<h2>christopher</h2>
<p>A collection of things which probably shouldnt go in my professional portfolio.</p>
<p>I seem to be doing a lot of website design and build jobs at the minute. Which is ok, I enjoy it up to a point, then Id rather someone with more expertise takes it. Im currently waiting to hear if Ive been accepted for a US Visa We’re kind of lucky because rent is quite cheap for the area that we live in.</p>
<p>— Friday</p>

</div>

</div>