/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Imports
   ========================================================================== */
/* Define Breakpoints*/
.white {
  color: white; }

.black {
  color: black; }

.special {
  color: #dd4a4a; }

.grey {
  color: #bca6a6; }

html {
  font-size: 62.5%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 15px;
  font-size: 1.5rem; }

h1 {
  font-size: 40px;
  font-size: 4.0rem;
  line-height: 1.3;
  letter-spacing: 0.1rem; }

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.1rem; }

h3 {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

h4 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

h5 {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 1.5;
  letter-spacing: 0.08rem; }

h6 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.8;
  letter-spacing: 0.03rem; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.035rem; }

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Relative Book", 'Century Gothic', Verdana, sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  margin: 0; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #dd4a4a;
  text-shadow: none; }

::selection {
  background: #dd4a4a;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: none;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Globals
   ========================================================================== */
html, body {
  width: 100%;
  height: 100%; }

a {
  color: inherit;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out; }

hr {
  border: none;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -filter: alpha(opacity=50);
  margin: 15px 0 15px 0 !important; }

.remove {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
  visibility: hidden; }

/* ==========================================================================
   Info screen
   ========================================================================== */
.info-wrapper-buffer {
  width: 100%; }
  .info-wrapper-buffer .push {
    padding-top: 56.25%;
    /*proportion*/
    display: block; }

.info-wrapper-bg {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .info-wrapper-bg .push {
    padding-top: 56.25%;
    /*proportion*/
    display: block; }
  .info-wrapper-bg .info-wrapper-table {
    width: 100%;
    height: 100%;
    display: table; }
  .info-wrapper-bg .info-wrapper {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -ms-transform-origin: center bottom; }
  .info-wrapper-bg a:link {
    color: inherit;
    border-bottom: 1px solid white; }
  .info-wrapper-bg a:visited {
    color: inherit;
    border-bottom: 1px solid white; }
  .info-wrapper-bg a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #dd4a4a; }
  .info-wrapper-bg a:active {
    color: inherit;
    border-bottom: 1px solid white; }
  .info-wrapper-bg .info-wrapper-title-container {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    z-index: 5; }
    .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title {
      width: 60%;
      text-align: center;
      display: inline-block; }
      @media (min-width: 481px) and (max-width: 960px) {
        .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title {
          width: 70%; } }
      @media (max-width: 480px) {
        .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title {
          width: 80%; } }
      .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title h2 {
        line-height: 1.5; }
      @media (min-width: 481px) and (max-width: 960px) {
        .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title h2 {
          font-size: 25px;
          font-size: 2.5rem; } }
      @media (max-width: 480px) {
        .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title h2 {
          font-size: 20px;
          font-size: 2.0rem; }
        .info-wrapper-bg .info-wrapper-title-container .info-wrapper-title p {
          font-size: 15px;
          font-size: 1.5rem; } }
  .info-wrapper-bg .info-wrapper-down {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    cursor: pointer; }
    .info-wrapper-bg .info-wrapper-down .icon-icon-down {
      font-size: 20px;
      width: 20px;
      height: 20px;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
    .info-wrapper-bg .info-wrapper-down .icon-icon-down:hover {
      -ms-transform: translate(0px, 5px);
      /* IE 9 */
      -webkit-transform: translate(0px, 5px);
      /* Chrome, Safari, Opera */
      transform: translate(0px, 5px); }

/* ==========================================================================
   Globals
   ========================================================================== */
html, body {
  height: 100%; }

hr {
  border: none; }

/* ==========================================================================
   Wrapper
   ========================================================================== */
.wrapper {
  width: 100%;
  background-color: #f9f9f9;
  z-index: 5; }

/* ==========================================================================
   Module Structure
   ========================================================================== */
/* 4 columns by default */
.grid-sizer {
  width: 25%; }

.post {
  position: relative;
  overflow: hidden; }

/* Change the width of the modules with browser size*/
@media (min-width: 1261px) {
  .m1 {
    width: 75%; }

  .m2, .m5 {
    width: 50%; }

  .m3, .m4 {
    width: 25%; } }
@media (min-width: 961px) and (max-width: 1260px) {
  .m1 {
    width: 75%; }

  .m2, .m5 {
    width: 50%; }

  .m3, .m4 {
    width: 25%; } }
@media (min-width: 481px) and (max-width: 960px) {
  .m1 {
    width: 100%; }

  .m2, .m3, .m4, .m5 {
    width: 50%; } }
@media (max-width: 480px) {
  .m1, .m2, .m3, .m4, .m5 {
    width: 100%; } }
/* Keep the modules in proportion, either portrait or landscape*/
.m1 > .push {
  padding-top: 43.33333333%;
  /*proportion*/
  display: block; }

.m2 > .push,
.m3 > .push {
  padding-top: 65%;
  /*proportion*/
  display: block; }

.m4 > .push,
.m5 > .push {
  padding-top: 130%;
  /*proportion*/
  display: block; }

@media (min-width: 481px) and (max-width: 960px) {
  .m1 > .push {
    padding-top: 32.5%;
    /*proportion*/
    display: block; }

  .m4 > .push,
  .m5 > .push {
    padding-top: 65%;
    /*proportion*/
    display: block; } }
@media (max-width: 480px) {
  .m1 > .push,
  .m4 > .push,
  .m5 > .push {
    padding-top: 65%;
    /*proportion*/
    display: block; } }
/* ==========================================================================
   Nav
   ========================================================================== */
.nav-bg {
  width: 100%;
  height: 135px;
  background-color: black;
  position: relative; }

.nav {
  width: 100%;
  height: 100%;
  background-color: white;
  display: table;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -ms-transform-origin: center bottom; }
  .nav .nav-main {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .nav a:link {
    color: inherit; }
  .nav a:visited {
    color: inherit; }
  .nav a:hover {
    color: #dd4a4a;
    text-decoration: none; }
  .nav a:active {
    color: inherit; }

/* ==========================================================================
   Tile Content
   ========================================================================== */
.post a:link {
  color: inherit; }
.post a:visited {
  color: inherit; }
.post a:hover {
  color: inherit;
  text-decoration: none; }
.post a:active {
  color: inherit; }

.content {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover; }

.post-info-container {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 101%;
  height: 101%;
  overflow: hidden;
  text-align: center;
  display: table;
  padding: 0 15% 0 15%; }

.text > .content > a > .post-info-container {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -filter: alpha(opacity=100); }

.image > .content > a > .post-info-container {
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -filter: alpha(opacity=0);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out; }

.image > .content:hover > a > .post-info-container {
  opacity: 0.85;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  -filter: alpha(opacity=85); }

.dark > .content > a > .post-info-container {
  background-color: black;
  color: white; }

.light > .content > a > .post-info-container {
  background-color: white;
  color: black; }

.m1 > .content > a > .post-info-container > .post-info > .post-title {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

.m2 > .content > a > .post-info-container > .post-info > .post-title {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

.m3 > .content > a > .post-info-container > .post-info > .post-title {
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 1.5;
  letter-spacing: 0.08rem; }

.m4 > .content > a > .post-info-container > .post-info > .post-title {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

.m5 > .content > a > .post-info-container > .post-info > .post-title {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0.08rem; }

@media (min-width: 481px) and (max-width: 960px) {
  .m1 > .content > a > .post-info-container > .post-info > .post-title,
  .m2 > .content > a > .post-info-container > .post-info > .post-title,
  .m3 > .content > a > .post-info-container > .post-info > .post-title,
  .m4 > .content > a > .post-info-container > .post-info > .post-title,
  .m5 > .content > a > .post-info-container > .post-info > .post-title {
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 1.5;
    letter-spacing: 0.08rem; } }
@media (max-width: 480px) {
  .m1 > .content > a > .post-info-container > .post-info > .post-title,
  .m2 > .content > a > .post-info-container > .post-info > .post-title,
  .m3 > .content > a > .post-info-container > .post-info > .post-title,
  .m4 > .content > a > .post-info-container > .post-info > .post-title,
  .m5 > .content > a > .post-info-container > .post-info > .post-title {
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 1.5;
    letter-spacing: 0.08rem; } }
.post-info {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.15s ease-in;
  /* Changed here */
  -moz-transition: -moz-transform 0.15s ease-in;
  -o-transition: -o-transform 0.15s ease-in;
  transition: transform 0.15s ease-in; }

.post:hover > .content > a > .post-info-container > .post-info {
  -ms-transform: translate(0px, -5px);
  /* IE 9 */
  -webkit-transform: translate(0px, -5px);
  /* Chrome, Safari, Opera */
  transform: translate(0px, -5px); }

.pagination {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
  z-index: 2; }

/* ==========================================================================
   Project Page
   ========================================================================== */
.project-header-buffer {
  height: 80%;
  width: 100%;
  position: relative;
  display: block;
  z-index: 1; }

.project-header-bg {
  height: 80%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100%;
  z-index: 2; }
  .project-header-bg a:link {
    color: inherit; }
  .project-header-bg a:visited {
    color: inherit; }
  .project-header-bg a:hover {
    color: inherit;
    text-decoration: none; }
  .project-header-bg a:active {
    color: inherit; }
  .project-header-bg .project-header-nav {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    pointer-events: none; }
    .project-header-bg .project-header-nav .project-header-nav-prev {
      width: 10%;
      height: 100%;
      float: left;
      position: relative;
      pointer-events: auto; }
    .project-header-bg .project-header-nav .icon-icon-left {
      font-size: 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 0 auto 20px;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
    .project-header-bg .project-header-nav .icon-icon-left:hover {
      -ms-transform: translate(-5px, 0px);
      /* IE 9 */
      -webkit-transform: translate(-5px, 0px);
      /* Chrome, Safari, Opera */
      transform: translate(-5px, 0px); }
    .project-header-bg .project-header-nav .project-header-nav-next {
      width: 10%;
      height: 100%;
      float: right;
      position: relative;
      pointer-events: auto; }
    .project-header-bg .project-header-nav .icon-icon-right {
      font-size: 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 20px auto auto;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
    .project-header-bg .project-header-nav .icon-icon-right:hover {
      -ms-transform: translate(5px, 0px);
      /* IE 9 */
      -webkit-transform: translate(5px, 0px);
      /* Chrome, Safari, Opera */
      transform: translate(5px, 0px); }
  .project-header-bg .project-header {
    height: 100%;
    width: 100%;
    display: table;
    z-index: 1;
    overflow: hidden; }
    .project-header-bg .project-header .project-header-title-container {
      display: table-cell;
      vertical-align: middle;
      color: white;
      text-align: center;
      padding-top: 15%;
      padding-bottom: 15%; }
      .project-header-bg .project-header .project-header-title-container .project-header-title {
        width: 50%;
        text-align: center;
        display: inline-block; }
        @media (max-width: 480px) {
          .project-header-bg .project-header .project-header-title-container .project-header-title h1 {
            font-size: 25px;
            font-size: 2.5rem; } }
        .project-header-bg .project-header .project-header-title-container .project-header-title hr {
          border: none;
          opacity: 0.5;
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          -filter: alpha(opacity=50);
          margin: 30px 0 30px 0; }
        .project-header-bg .project-header .project-header-title-container .project-header-title .project-wrapper-up {
          position: absolute;
          top: 30px;
          width: 130px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto; }
        .project-header-bg .project-header .project-header-title-container .project-header-title .back-to-projects {
          font-size: 13px;
          background-color: black;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          opacity: 0.5;
          -webkit-opacity: 0.5;
          -moz-opacity: 0.5;
          -filter: alpha(opacity=50);
          padding: 8px;
          color: white;
          margin: auto; }
        .project-header-bg .project-header .project-header-title-container .project-header-title .back-to-projects:hover {
          opacity: 1;
          -webkit-opacity: 1;
          -moz-opacity: 1;
          -filter: alpha(opacity=100);
          -ms-transform: translate(0px, -5px);
          /* IE 9 */
          -webkit-transform: translate(0px, -5px);
          /* Chrome, Safari, Opera */
          transform: translate(0px, -5px); }
        .project-header-bg .project-header .project-header-title-container .project-header-title .project-wrapper-down {
          position: absolute;
          bottom: 30px;
          width: 20px;
          height: 20px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto; }
        .project-header-bg .project-header .project-header-title-container .project-header-title .icon-icon-down {
          font-size: 20px;
          width: 20px;
          height: 20px;
          margin: auto;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out; }
        .project-header-bg .project-header .project-header-title-container .project-header-title .icon-icon-down:hover {
          -ms-transform: translate(0px, 5px);
          /* IE 9 */
          -webkit-transform: translate(0px, 5px);
          /* Chrome, Safari, Opera */
          transform: translate(0px, 5px); }

.project-wrapper-bg {
  position: relative;
  background-color: black;
  z-index: 5;
  -webkit-transform-origin: center bottom;
  /* Chrome, Safari, Opera */ }

.project-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9; }
  .project-wrapper h4, .project-wrapper h5, .project-wrapper h6 {
    padding-bottom: 20px; }
  .project-wrapper p {
    color: #2b2929;
    padding-bottom: 20px; }
  .project-wrapper img {
    width: 100%;
    margin: 20px 0 40px 0; }
  .project-wrapper a:link {
    color: inherit;
    border-bottom: 1px solid #2b2929; }
  .project-wrapper a:visited {
    color: inherit; }
  .project-wrapper a:hover {
    color: #dd4a4a;
    text-decoration: none;
    border-bottom: 1px solid #dd4a4a; }
  .project-wrapper a:active {
    color: inherit; }

.big-text {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0.08rem;
  padding: 40px 15% 40px 15%;
  margin: 20px 0 40px 0;
  text-align: center; }

.big-image {
  width: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
