//Define colours

$white:#FFFFFF;
$black:#000000;

$light:#faf7f7;
$dark:#333333;

$special:#3fa2dd;

$grey:#BCA6A6;


//Apply colours

.white{color:$white;}
.black{color:$black;}

// .light{color:$light;}
// .dark{color:$dark;}

.special{color:$special;}

.grey{color:$grey;}
