//Define colours

$white:#FFFFFF;
$black:#000000;

$light:#faf7f7;
$dark:#2b2929;

$special:#dd4a4a;

$grey:#b1b1b1;
$lightgrey:#f0f0f0;
$lightestgrey:#f9f9f9;

//Apply colours

.white{color:$white;}
.black{color:$black;}

// .light{color:$light;}
// .dark{color:$dark;}

.special{color:$special;}

.grey{color:$grey;}
