/* Define Breakpoints*/

@mixin bp($point) {
	$bp-xl: "(min-width:1261px)";
	$bp-l: "(min-width:961px) and (max-width:1260px)";
	$bp-m: "(min-width:481px) and (max-width:960px)";
	$bp-s: "(max-width:480px)";

	@if $point == xl {
	@media #{$bp-xl} { @content; }
	}
	@else if $point == l {
	@media #{$bp-l} { @content; }
	}
	@else if $point == m {
	@media #{$bp-m}  { @content; }
	}
	@else if $point == s {
	@media #{$bp-s}  { @content; }
	}
}