//Import Fonts    

// @font-face {
// 	font-family: 'HeroicCondensed-Heavy';
// 	src: url('../fonts/HeroicCondensed-Heavy.eot');
// 	src: local('☺'), url('../fonts/HeroicCondensed-Heavy.woff') format('woff'), url('../fonts/HeroicCondensed-Heavy.ttf') format('truetype'), url('../fonts/HeroicCondensed-Heavy.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'MaisonNeue-Medium';
	src: url('../fonts/MaisonNeue-Medium-TRIAL.eot');
	src: local('☺'), url('../fonts/MaisonNeue-Medium-TRIAL.woff') format('woff'), url('../fonts/MaisonNeue-Medium-TRIAL.ttf') format('truetype'), url('../fonts/MaisonNeue-Medium-TRIAL.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


//Define size mixins

@mixin h1(){
	font-family: 'MaisonNeue-Medium', sans-serif;
	font-size: 160px; 
	font-size: 16.0rem; 
	line-height:1.5; 
	letter-spacing:-0.3rem; 
}

@mixin h2(){
	font-family: 'MaisonNeue-Medium', sans-serif;
	font-size: 80px; 
	font-size: 8.0rem; 
	line-height:0.85; 
	letter-spacing:-0.2rem; 
}

@mixin h3(){
	font-family: 'MaisonNeue-Medium', sans-serif;
	font-size: 50px; 
	font-size: 5.0rem; 
	line-height:0.9; 
	letter-spacing:-0.2rem; 
}

@mixin h4(){
	font-family: 'MaisonNeue-Medium', sans-serif;
	font-size: 40px; 
	font-size: 4.0rem; 
	line-height:1.4;
	letter-spacing:-0.1rem; 
}

@mixin h5(){ 
    font-family: 'MaisonNeue-Medium', serif;
    font-weight: 400;
	font-style: normal;
	font-size: 30px;
	font-size: 3.0rem; 
	line-height:1.4; 
	letter-spacing:0.035rem; 
}

@mixin h6(){ 
	font-family: 'MaisonNeue-Medium', serif;
    font-weight: 400;
	font-style: normal;
	font-size: 25px; 
	font-size: 2.5rem; 
	line-height:1.3; 
	letter-spacing:0.035rem; 	
}

@mixin p(){ 
	font-family: 'MaisonNeue-Medium', serif;
    font-weight: 400;
	font-style: normal;
	font-size: 20px; 
	font-size: 2.0rem; 
	line-height:1.7; 
	letter-spacing:0.035rem; 
}


//Applying size

html {  font-size: 62.5%; 
        line-height: 1.4;
        -webkit-font-smoothing: antialiased;
    }    

body { font-size: 15px; font-size: 1.5rem; }

h1   { @include h1 }
h2   { @include h2 }
h3   { @include h3 }
h4   { @include h4 }
h5   { @include h5 }
h6   { @include h6 }
p    { @include p }

.caption { font-size: 14px; font-size: 1.4rem; line-height:1.6; }


//Setting typeface

html,body,h1,h2,h3,h4,h5,h6,p {
    font-family: 'MaisonNeue-Medium', serif;
    font-weight: 400;
	font-style: normal;
	margin: 0;
}