/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import '_mixins';
@import '_colour';
@import '_typography';
@import '_variables';

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $special;
    text-shadow: none;
}

::selection {
    background: $special;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Globals
   ========================================================================== */

html, body{
    width:100%;
    height:100%;
}

/* ==========================================================================
   Info screen
   ========================================================================== */

#info-wrapper{
    width:100%;
    height:100%;
    background-color:black;
    position:fixed;
    opacity:0.8;
    z-index:10;
}


/* ==========================================================================
   Globals
   ========================================================================== */

html, body {
  height:100%;
}

#skrollr-body{}

span.tight-spacing{
  letter-spacing: -2px;
  padding-right:10px;
}


/* ==========================================================================
   Wrapper
   ========================================================================== */

@include bp(xl) {
    .wrapper{
        width:100%;
    }
}

@include bp(l) {
    .wrapper{
        width:100%;
    }
}

@include bp(m) {
    .wrapper{
        width:100%;
    }
}

@include bp(s) {
    .wrapper{
        width:100%;
    }
}

.wrapper{
}

/* ==========================================================================
   Grid Modules
   ========================================================================== */

/* 4 columns by default */
.grid-sizer { width:25%; }

.post{
    position:relative;
}

/* Change the width of the modules with browser size*/

@include bp(xl) {
    .m1{width:100%;}
    .m2, .m5{width:50%;}
    .m3, .m4{width:25%;}
}

@include bp(l) {
    .m1{width:100%;}
    .m2, .m5{width:50%;}
    .m3, .m4{width:25%;}
}

@include bp(m) {
    .m1{width:100%;} 
    .m2, .m3, .m4, .m5{width:50%;}
}

@include bp(s) {
    .m1, .m2, .m3, .m4, .m5{width:100%;}
}


/* Keep the modules in proportion, either portrait or landscape*/

.m1 > .push,
.m2 > .push,
.m3 > .push,
{
  padding-top: 65%;
  /*proportion*/
  display: block; 
}

.m4 > .push,
.m5 > .push,
{
  padding-top: 130%;
  /*proportion*/
  display: block; 
}

@include bp(m) {
  .m4 > .push,
  .m5 > .push,
  {
    padding-top: 65%;
    /*proportion*/
    display: block; 
  }
}


@include bp(s) {
  .m4 > .push,
  .m5 > .push,
  {
    padding-top: 65%;
    /*proportion*/
    display: block; 
  }
}



/* ==========================================================================
   Nav
   ========================================================================== */

.nav-bg{
  width:100%;
  height:135px;
  background-color:$black;
}

.nav{
  width:100%;
  height:100%;
  background-color:$white;
  display: table;

  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
  -ms-transform-origin:center bottom;



  // transform: rotate(5deg);
  // transform-origin:center bottom;
  // -ms-transform: rotate(5deg); /* IE 9 */
  // -ms-transform-origin:center bottom; /* IE 9 */
  // -webkit-transform: rotateX(45deg); /* Chrome, Safari, Opera */
  // transform-style: preserve-3d;
  // transition: transform 1s;

  .nav-main{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  a:link {color: inherit;}
  a:visited {color: inherit;}
  a:hover {color: inherit; text-decoration:none;}
  a:active {color: inherit;}
}


// .nav-main{
//   -webkit-transition: -webkit-transform 0.25s ease-in; /* Changed here */ 
//   -moz-transition: -moz-transform 0.25s ease-in;
//   -o-transition: -o-transform 0.25s ease-in;
//   transition: transform 0.25s ease-in;
// }

// .nav-main:hover{
// -ms-transform: translate(0px,-5px); /* IE 9 */
// -webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
// transform: translate(0px,-5px);
// }




/* ==========================================================================
   Tiles
   ========================================================================== */

.post{
  a:link {color: inherit;}
  a:visited {color: inherit;}
  a:hover {color: inherit; text-decoration:none;}
  a:active {color: inherit;}
}


.content{
    position:absolute;
    margin: 0px;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size:cover;
}

//Module padding

.post-info
{ 
  padding: 20px; 
}

// Post info

.post-info{
    position:absolute;
    margin: 0px;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text > .content > a > .post-info{
  @include x-opacity(1);
}

.image > .content > a > .post-info{
  @include x-opacity(0);
  @include transition(opacity);
}

.image > .content:hover > a > .post-info{
  @include x-opacity(1);
}


.pagination{
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

//Post colours

.light > .content > .post-info{
  background-color:$white;
  color:$black;
}

.light-trans > .content > .post-info{
  color:$black;
}

.dark > .content > .post-info{
  background-color:$black;
  color:$white;
}

.dark-trans > .content > .post-info{
  color:$white;
}


//Post title text size

.m1 > .content > a > .post-info > .post-title{ @include h5 }
.m2 > .content > a > .post-info > .post-title{ @include h6 }
.m3 > .content > a > .post-info > .post-title{ @include h6 }
.m4 > .content > a > .post-info > .post-title{ @include h6 }
.m5 > .content > a > .post-info > .post-title{ @include h6 }

@include bp(m) {
  .m1 > .content > a > .post-info > .post-title,
  .m2 > .content > a > .post-info > .post-title,
  .m3 > .content > a > .post-info > .post-title,
  .m4 > .content > a > .post-info > .post-title,
  .m5 > .content > a > .post-info > .post-title,
  { 
    @include h6 
  }
}

@include bp(s) {
  .m1 > .content > a > .post-info > .post-title,
  .m2 > .content > a > .post-info > .post-title,
  .m3 > .content > a > .post-info > .post-title,
  .m4 > .content > a > .post-info > .post-title,
  .m5 > .content > a > .post-info > .post-title,
  { 
    @include h6 
  }
}

//Post title container size

.post-title{
  width:75%;
}

@include bp(m) {
  .post-title{
    width:75%;
  }
}

@include bp(s) {
  .post-title{
    width:100%;
  }
}


.post-title{
  -webkit-transition: -webkit-transform 0.15s ease-in; /* Changed here */ 
  -moz-transition: -moz-transform 0.15s ease-in;
  -o-transition: -o-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
}

.post:hover > .content > .post-info > .post-title{
-ms-transform: translate(0px,-5px); /* IE 9 */
-webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
transform: translate(0px,-5px);
}



/* ==========================================================================
   Project Page
   ========================================================================== */

.project-header-bg{
  background-color:$black;
  height:100%;
  width:100%;
}

.project-header{
  background-color:$grey;
  height:100%;
  width:100%;
  display: table;
  // -webkit-transform: perspective(50em) rotateX(50deg);
  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
  -ms-transform-origin:center bottom;

  .project-header-title{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color:$white;
  }
}

.project-wrapper-bg{
  background-color:$black;
}

.project-wrapper{
  padding-top:40px;
  padding-bottom:80px;
  -webkit-transform-origin:center bottom; /* Chrome, Safari, Opera */
  background-color:$white;

  .container{
  }

  .row{
  }

  h5{
    padding-bottom:20px;
  }

  p{
    color:$dark;
    padding-bottom:20px;
  }

  img{
    width:100%;
    margin:20px 0 40px 0;
  }

  a {
    color: inherit;
    @include transition(color);
    @include transition(border);
  }

  a:link {color: inherit; border-bottom:1px solid $dark;}
  a:visited {color: inherit;}
  a:hover {color: $special; text-decoration:none; border-bottom:1px solid $special;}
  a:active {color: inherit;}
}

.big-text{
  border-top:1px solid $black;
  border-bottom:1px solid $black;
  @include h5;
  padding:10% 15% 10% 15%;
  margin:20px 0 40px 0;
  text-align:center;
}

.bt-black{
  background-color:$black;
  color:$white;
}

.bt-white{
  background-color:$white;
  color:$black;
}

.big-image{
  width:100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
